*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}
html,body{
    width: 100vw;
    height: 100vh;
}
.div{
    float: left;
    max-width: 75%;
}
h1{
margin: 20px;
}
p{
    margin: 30px 0px 10px 20px ;
    /* margin: 15px; */
}
.img{
    float: right;
    width: 25%;
}
.container{
    border: 1px solid black;
    margin: 10px;
}
